# Ignore all videos inside the videos/ directory
videos/

# Ignore all PyTorch model files in models/ (e.g., YOLO, custom .pt)
models/*.pt

# Ignore all output videos generated during experiments
runs/outputs/*.mp4

# Ignore Python bytecode cache folders
__pycache__/